{% load crispy_forms_tags %}
{% include 'layout.html' %}
{% block body %}
<div class="container">
    <div class="row mt-5 justify-content-between">
        <div class="col-12 col-sm-6 text-start">

            <h2>Pedidos</h2>
        </div>
    </div>
    <!--Client search form  -->
    <form class="row mt-3" action="{% url 'AccountManagement:orderList' %}" method="POST">
        {% csrf_token %}
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Buscar Pedidos</label>
            <div class="input-group">
                <div class="input-group-text bg-white"><span class="material-icons" style="color: #e1c2c1;">
                        search
                    </span></div>
                <input type="text" class="form-control border-start-0" id="id_search" placeholder="Buscar Pedidos"
                    name="search" maxlength="200">
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table ">
                    <thead class="border-bottom font-weight-bold">
                        <tr>
                            <td>Id</td>
                            <td>Fecha de pedido</td>
                            <td>Ultima modificación</td>
                            <td>Dirección</td>
                            <td>Total</td>
                            <td>Estado</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orderList %}
                        <!-- Button trigger modal -->
                        <tr class="align-middle user-select-none">
                            <td>{{order.id}}</td>
                            <td>{{order.ordered_date}}</td>
                            <td>{{order.start_date}}</td>
                            <td>{{order.address}}</td>
                            <td>${{order.total}}</td>
                            {% if order.status == 'Carrito' %}
                            <td>
                                <div class="btn btn-antheaPink text-white disabled">
                                    <span class="material-icons align-middle ">
                                        shopping_cart
                                    </span>
                                    {{order.status}}
                                </div>
                            </td>
                            {% elif order.status == 'Confirmado' %}
                            <td>
                                <div class="btn btn-antheaPink text-white disabled">
                                    <span class="material-icons align-middle ">
                                        done
                                    </span>
                                    {{order.status}}
                                </div>
                            </td>
                            {% elif order.status == 'Enviado' %}
                            <td>
                                <div class="btn btn-antheaPink text-white disabled">
                                    <span class="material-icons align-middle ">
                                        local_shipping
                                    </span>
                                    {{order.status}}
                                </div>
                            </td>
                            {% elif order.status == 'Entregado' %}
                            <td>
                                <div class="btn btn-antheaPink text-white disabled">
                                    <span class="material-icons align-middle ">
                                        check_circle
                                    </span>
                                    {{order.status}}
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}