{% load static %}

<nav class="navbar navbar-expand-lg bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'Catalog:index' %}">
      <img src="{% static 'img/antheaLogo-bg.png' %}" alt="Logo" class="d-inline-block align-text-top"
        style="max-height: 100px;">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">
            <span class="material-icons align-bottom position-relative" style="color: #e1c2c1;">
              shopping_cart
              <span class=" d-none position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                9
                <span class="visually-hidden">unread messages</span>
              </span>
            </span>
            Carrito
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons align-bottom" style="color: #e1c2c1;">
              account_circle
            </span>
            {{request.user}}
          </a>
          <ul class="dropdown-menu">
            {% if request.user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'ProductManagement:index' %}">Admin Panel</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Mis pedidos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% endif %}
          </ul>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons align-bottom" style="color: #e1c2c1;">
              account_circle
            </span>
            Inicia sesión
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login' %}">Inicia sesión</a></li>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>